*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.home{
    width:1200px;
    height: 500px;
    max-width: 100%;
    margin:50px auto;
    border:2px solid rgba(211, 182, 22, 0.8);;
    padding:10px 80px;   
    border-radius: 10px; 
}
.title{
    text-transform: uppercase;
    text-align: center;
}
hr{
    height: 3px;
    background-color: rgba(211, 182, 22, 0.623);
    border: none;
    margin-bottom: 20px;
}
.techImage{
    width:300px;
    float:left;
    border:none;
    border-radius: 15px;
    height: 400px;
    margin-right: 20px;
}
span{
    float:left;
    line-height: 50px;
    font-size:55px;
    font-family:Roboto Slab;
    font-weight: 200;
}
.home p{
    font-size: 18px;
}
.gallery{
    width:1200px;
    border:2px solid rgba(211, 182, 22, 0.623);
    max-width: 100%;
    margin:0 auto;
    padding:10px;
}
.gallery_containter{
    /* border:4px solid red; */
    display: flex;
    flex-direction:row;
    justify-content: center;
    flex-wrap: wrap;
    gap:1.2rem;    

}
#nature-img{
    width:350px;
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    object-fit: cover;
}
.Menu{
    width:1200px;
    max-width: 100%;
    margin:50px auto;
    border:2px solid rgba(211, 182, 22, 0.623);
    padding:50px 100px;
}
ol{
    padding-left:20px;
}
li a{
    text-decoration: none;
    color:black;
}
.food-sections{
    margin-top:40px
}
.food-sections{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap:2rem;
    justify-self: center;
}
figure img{
    width:300px;
    height: 300px;
    object-fit: cover;
    border-radius: 3.7px;
}