*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    background-color: rgba(148, 26, 136, 0.5);
}
.home{
    width:1000px;
    height: 500px;
    max-width: 100%;
    margin:50px auto;
    border:2px solid rgba(211, 182, 22, 0.8);;
    padding:10px 80px;   
    border-radius: 10px; 
}
.title{
    text-transform: uppercase;
    text-align: center;
}
hr{
    height: 3px;
    background-color: rgba(211, 182, 22, 0.623);
    border: none;
    margin-bottom: 20px;
}
.techImage{
    width:300px;
    float:left;
    border:none;
    border-radius: 15px;
    height: 400px;
    margin-right: 20px;
}
span{
    float:left;
    line-height: 50px;
    font-size:55px;
    font-family:Roboto Slab;
    font-weight: 200;
}
.home p{
    font-size: 18px;
}